.siteWrapper{
  margin: 0 auto 150px auto;
  width: 800px;
}
.add-user-form{
  width: 100%;
}

.add-user-form input {
  display: block;
}

.usersTable {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.usersTable td, .usersTable th {
  border: 1px solid #ddd;
  padding: 8px;
}

.usersTable tr:nth-child(even){background-color: #f2f2f2;}

.usersTable tr:hover {background-color: #ddd;}

.usersTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}